.arbitrum {
  --primary-color: #2da0f0;
  --bg-color: linear-gradient(0deg, #fff 0, #f0f4fa 72%);
  --text-color: #313950;
  --link-color: #2da0f0;
  --heading-color: #2ba0ef;
  --border-color: #2da0f0;
  --header-bg: linear-gradient(0deg, #fff 0, #f0f4fa 72%);
}
