.dxdao {
  --primary-color: rgb(31, 60, 221);
  --bg-color: #040d2d;
  --text-color: rgb(184, 190, 229);
  --link-color: white;
  --heading-color: white;
  --border-color: #242629;
  --header-bg: #040d2d;
  --block-bg: transparent;
}
