.index {
  --primary-color: #0eaa74;
  --bg-color: white;
  --text-color: #000;
  --link-color: #0eaa74;
  --heading-color: #000;
  --border-color: #0eaa74;
  --header-bg: white;
  --block-bg: transparent;
}
