.juicebox {
  --primary-color: #18b4c7;
  --bg-color: #FEFDFB;
  --text-color: rgba(0, 0, 0, 0.933);
  --link-color: white;
  --heading-color: rgba(0, 0, 0, 0.333);
  --border-color: rgb(24, 180, 199);
  --header-bg: white;
  --block-bg: transparent;
}


