.loozr {
  --primary-color: #8369f4;
  --bg-color: #0c0f16;
  --text-color: white;
  --link-color: white;
  --heading-color: white;
  --border-color: #8369f4;
  --header-bg: #0c0f16;
  --block-bg: transparent;
}
