.meandao {
  --primary-color: #b7011c;
  --bg-color: #12141d;
  --text-color: rgba(255, 255, 255, 0.7);
  --link-color: white;
  --heading-color: white;
  --border-color: #b7011c;
  --header-bg: #2A1818FF;
  --block-bg: transparent;
}
