.opolis {
  --primary-color: rgb(250,87,56);
  --bg-color: rgb(12, 17, 21);
  --text-color: white;
  --link-color: white;
  --heading-color: white;
  --border-color: rgb(250,87,56);
  --header-bg: #2A1818FF;
  --block-bg: transparent;
}
