.superfluid {
  --primary-color: #10bb34;
  --bg-color: rgb(252, 253, 254);
  --text-color: #12141e;
  --link-color: rgb(130, 146, 173);
  --heading-color: rgb(130, 146, 173);
  --border-color: #e0e8f8;
  --header-bg: rgb(252, 253, 254);
  --block-bg: transparent;
}
