.swdao {
  --primary-color: rgb(114, 0, 230);
  --bg-color: #1A202C;
  --text-color: rgb(170, 220, 254);
  --link-color: white;
  --heading-color: rgb(255, 255, 255);
  --border-color: white;
  --header-bg: rgb(13, 0, 41);
  --block-bg: transparent;
}
