.container-default {
  max-width: 1248px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.container-default.footer-container {
  position: relative;
  z-index: 2;
  padding-bottom: 70px;
  border-bottom: 1px solid #e5ecf5;
}

.container-default.feature-single {
  position: absolute;
  left: 0px;
  right: 0px;
}

.container-medium {
  max-width: 1042px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.header {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99;
  width: 100%;
  max-width: 1248px;
  margin-right: auto;
  margin-left: auto;
  //margin-left: 50px;
}

.header-logo {
  width: 190px;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;

  &:hover {
    -webkit-transform: scale(0.94);
    -ms-transform: scale(0.94);
    transform: scale(0.94);
  }
}

.header-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
}

.nav-item-wrapper {
  margin-right: 1.8vw;
}

.nav-item-wrapper.mobile {
  display: none;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  text-decoration: none;
}

.page-wrapper {
  position: relative;
}

.page-wrapper.hidden-overflow {
  overflow: hidden;
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;

  .first-section {
    position: relative;
    padding-top: 250px;
  }

  .relative {
    position: relative;
  }
}

.split-content.blog-card-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 34px 30px 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image.blog-card-image {
  width: 100%;
}

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart-button {
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 80px;
  background-color: transparent;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #1a1b1e;
  line-height: 1em;

  &:hover {
    color: #758bff;
  }
}

.nav-cart-quantity {
  height: auto;
  min-width: auto;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
  color: #1a1b1e;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.cart-container {
  max-width: 500px;
  background-color: #fff;
  box-shadow: none;
}

.grid-licenses-images {
  margin-top: 24px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.bg-neutral-800 {
  background-color: #1a1b1e;
}

.cart-close-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &:hover {
    -webkit-transform: scale3d(1.15, 1.15, 0.01);
    transform: scale3d(1.15, 1.15, 0.01);
  }
}

.header-main-wrapper {
  margin-top: 40px;
  margin-right: 24px;
  margin-left: 24px;
  padding: 28px 26px;
  border-radius: 14px;
  background-color: var(--header-main-bg);
  box-shadow: var(--box-shadow);
  border-color: var(--border-color);
}

.logo-grid {
  display: -ms-grid;
  display: grid;
  max-width: 996px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.features-grid {
  display: -ms-grid;
  display: grid;
  margin-bottom: 72px;
  grid-auto-columns: 1fr;
  grid-column-gap: 26px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.split {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.big-numbers {
  color: #1a1b1e;
  font-size: 56px;
  line-height: 1em;
  font-weight: 700;
}

.big-numbers.home-stats {
  margin-bottom: 8px;
}

.big-numbers.about-stats {
  margin-bottom: 8px;
}

._3-column-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;

  .features-grid {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

.badge {
  &.post-category {
    margin-left: 8px;
    left: auto;
    bottom: auto;
    padding: 14px 20px;
    border-radius: 10px;
    background-color: #1a1b1e;
    color: #fff;
    line-height: .5;

    &.small {
      top: 16px;
      right: 16px;
    }

    &.latest-post {
      top: 24px;
      right: 24px;
    }
  }
}

._2-column-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._3-row-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.integration-title-wrapper {
  margin-bottom: 8px;
  margin-left: 24px;
}

.integration-tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
  justify-content: flex-start;
  align-items: center;
}

.integration-tab-link {
  margin-right: 16px;
  padding: 20px 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 hsla(0, 0%, 47.8%, 0.1);
  color: #1a1b1e;
  line-height: 1.1;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    background-color: #1a1b1e;
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
    color: #fff;
  }

  &.w--current {
    background-color: #1a1b1e;
    box-shadow: none;
    color: #fff;

    &:hover {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }

  &.last {
    margin-right: 0px;
  }
}

.integrations-tabs-content {
  margin-bottom: -24px;
}

.divider {
  width: 100%;
  min-height: 1px;
  background-color: #c0c4d1;
}

.card {
  overflow: hidden;
  border-radius: 20px;

  &.feature-card {
    max-width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--header-main-bg);
    box-shadow: var(--box-shadow);
    border-color: var(--border-color);
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    position: relative;
    transition: -webkit-transform 300ms ease;

    &:hover {
      -webkit-transform: scale3d(0.98, 0.98, 0.01);
      transform: scale3d(0.98, 0.98, 0.01);
    }
  }

  &.integration-card {
    display: block;
    padding: 40px 30px;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 6px 32px 0 rgba(8, 15, 52, 0.04);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    color: #66666e;
    text-decoration: none;

    &:hover {
      -webkit-transform: scale(0.94);
      -ms-transform: scale(0.94);
      transform: scale(0.94);
    }
  }

  &.integration-main-card {
    padding: 24px;
    background-color: var(--header-main-bg);
    box-shadow: var(--box-shadow);
    border-color: var(--border-color);

    .guide-stepper-content {
      border-left-width: 2px;
    }
  }

  &.guide-right-side-card {
    padding: 24px;
    background-color: var(--header-main-bg);
    box-shadow: var(--box-shadow);
    border-color: var(--border-color);
  }
}

.image-wrapper {
  &.integration-icon {
    overflow: hidden;
    width: 64px;
    max-height: 64px;
    min-height: 64px;
    min-width: 64px;
    margin-right: 16px;
    border-radius: 18px;
  }

  &.integration-icon-wrapper {
    overflow: hidden;
    width: 200px;
    max-height: 200px;
    min-height: 200px;
    min-width: 200px;
  }
}

.guide-view {
  max-width: 1248px;
}
@media screen and (max-width: 991px) {
  .container-default {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .header {
    top: 0px;
    margin-left: 50px;
  }
  .header-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .nav-item-wrapper {
    margin-right: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .nav-item-wrapper.mobile {
    display: none;
  }
  .nav-link {
    font-size: 24px;
    line-height: 1.6em;
  }
  .nav-menu {
    z-index: 90;
    width: 100%;
    margin-top: -30px;
    padding: 160px 48px 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #e5ecf5;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(74, 58, 255, 0.1);
  }
  ._404-title {
    font-size: 181px;
  }
  .header-wrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-main-wrapper {
    margin-top: 24px;
    padding: 24px 0px;
  }
  ._3-column-grid {
    &.blog-post-cards-grid {
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
    }

    &.features-grid {
      margin-bottom: 48px;
      grid-row-gap: 40px;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  ._4-column-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .route-view {
    margin-left: 50px;
  }
  .info-bar {
    display: none;
  }
  .section {
    max-width: 884px;
  }

  .guide-stepper {
    display: none;
  }

  .card {
    &.integration-main-card {
      .guide-stepper-content {
        border-left-width: 0;
      }
    }
  }

}

@media screen and (max-width: 767px) {
  .container-default.feature-single {
    position: relative;
  }

  .color-primary-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .color-neutral-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .paragraph-large {
    font-size: 20px;
    line-height: 32px;
  }
  .header {
    max-width: none;
    margin-left: 50px;
  }
  .nav-item-wrapper.mobile {
    display: block;
  }
  .nav-link {
    font-size: 20px;
    line-height: 1.6em;
  }
  .menu-button {
    width: 50px;
    max-height: 50px;
    min-height: 50px;
    min-width: 50px;
    margin-left: 0px;
    border-radius: 10px;
  }
  .nav-menu {
    padding-top: 150px;
  }

  .card {
    border-radius: 12px;

    &.changelog {
      margin-bottom: 0px;
      padding: 50px 40px;
    }

    &.home-stats-card {
      padding: 40px 24px;
    }
  }
  .image-wrapper {
    &.featured-blog-card-image-wrapper {
      height: auto;
    }

    &.package-icon {
      width: 60px;
      max-height: 60px;
      min-height: 60px;
      min-width: 60px;
      margin-right: 12px;
      border-radius: 12px;
    }
  }
  .split-content.blog-card-content {
    padding: 24px 24px 40px;
  }

  ._3-column-grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  ._3-column-grid.blog-post-cards-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  ._3-column-grid.features-grid {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .header-logo-wrapper {
    padding-left: 0px;
  }
  .hamburger-menu-icon {
    width: 24px;
    font-size: 21px;
  }
  .route-view {
    margin-left: 50px;
  }
}

@media screen and (max-width: 479px) {
  .container-default {
    padding-right: 16px;
    padding-left: 16px;
  }
  .container-medium {
    padding-right: 16px;
    padding-left: 16px;
  }
  .color-primary-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .color-neutral-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .header {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .header-logo {
    width: 148px;
  }
  .nav-menu {
    padding-right: 16px;
    padding-left: 16px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container-medium-790px {
    padding-right: 16px;
    padding-left: 16px;
  }

  ._2-button-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-main-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
  }
  .logo-grid {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  ._3-column-grid {
    &.blog-post-cards-grid {
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }

    &.features-grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }

  ._4-column-grid {
    grid-column-gap: 22px;
    grid-row-gap: 22px;
  }

  .route-view {
    margin-left: 0;
  }

  .container-default {
    padding: 0;
  }
  .card {
    overflow: hidden;

    .p-4 {
      padding: 8px;
    }

    .px-4 {
      padding: 8px;
    }

    &.feature-card{
      margin: 0 24px 0 24px;
    }
    &.integration-main-card {
      max-width: 400px;
      padding: 0;
      background-color: var(--header-main-bg);
      box-shadow: var(--box-shadow);
      border-color: var(--border-color);

      .guide-stepper-content {
        border-left-width: 0;
      }
    }
  }
  .space-details{
    display: none;

  }
  .integration-content{
    .integration-top-content {
      justify-content: center;
    }
  }
}
